<div class="container mx-auto p-4 pt-24">
    <table class="min-w-full border-collapse border border-gray-300 shadow-md rounded-lg">
        <thead>
            <tr class="bg-gray-200 text-gray-700 uppercase text-sm">
                <th class="px-4 py-2 border border-gray-300">Nombre</th>
                <th class="px-4 py-2 border border-gray-300">Descripción</th>
                <th class="px-4 py-2 border border-gray-300">Fecha</th>
                <th class="px-4 py-2 border border-gray-300">Tipo</th>
                <th class="px-4 py-2 border border-gray-300">Categoría</th>
                <th class="px-4 py-2 border border-gray-300">Ubicación</th>
                <th class="px-4 py-2 border border-gray-300">Coordinador</th>
                <th class="px-4 py-2 border border-gray-300">Ponente</th>
                <th class="px-4 py-2 border border-gray-300">Moderador Necesario</th>
                <th class="px-4 py-2 border border-gray-300">Moderador</th>
                <!-- <th class="px-4 py-2 border border-gray-300">Participantes</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of eventos" class="hover:bg-gray-100">
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.nombre_evento }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.descripcion }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.fecha_evento | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.tipo_evento }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.categoria_evento || 'Sin categoría' }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.ubicacion }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.coordinador }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.ponente }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.moderador_necesario }}</td>
                <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.moderador }}</td>
                <!-- <td class="px-4 py-2 border border-gray-300 text-center">{{ evento.participantes }}</td> -->
            </tr>
        </tbody>
    </table>
  


    <div id="crear evento">
        <!-- Botón para abrir el modal -->
        <button 
            class="mt-4 w-full py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
            (click)="openModal()"
        >
            Crear evento
        </button>

        <!-- El Modal -->
        <div *ngIf="isModalOpen" class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-center justify-center min-h-screen">
                <div class="fixed inset-0 bg-gray-500 opacity-75"></div>
                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                    <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Crear nuevo evento
                        </h3>
                        <div class="mt-2">
                            <div>
                                <label for="nombre_evento" class="block text
                                -sm font-medium text-gray-700">Nombre del evento</label>
                                <input
                                id="nombre_evento" type="text" class="mt-1 focus:ring-ind
                                igo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                [(ngModel)]="nombre_evento"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-500 text-base font-medium text-white hover:bg-green-600 sm:ml-3 sm:w-auto sm:text-sm">
                            Guardar
                        </button>
                        <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button 
      (click)="logout()" 
      class="mt-4 w-full py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400"
    >
      Cerrar sesión
    </button>
  </div>
  