<!-- Nav fijo en la parte superior con nuevo color de fondo -->
<div *ngIf="showNavbar" class="fixed top-0 left-0 w-full bg-gray-900 z-50">
  <div class="flex items-center justify-between p-4">
    <!-- Logo y Barra de búsqueda -->
    <div class="flex items-center space-x-4">
      <img src="assets/logo_nexify.png" alt="Logo Nexify" class="h-12 w-12 rounded-full" />
      <div class="flex items-center bg-white rounded-full px-4 py-1 w-full max-w-md">
        <input type="text" placeholder="Buscar evento" class="w-full p-2 text-gray-700 rounded-l-full outline-none" />
        <i class="fas fa-search text-gray-500"></i>
      </div>
    </div>

    <!-- Botones y perfil en pantallas grandes con íconos y nuevo diseño -->
    <div class="hidden lg:flex items-center space-x-4">
      <button (click)="navHome()" class="flex items-center bg-gray-800 bg-opacity-60 border border-transparent text-white px-4 py-2 rounded-lg hover:bg-gray-700">
        <i class="fas fa-home mr-2"></i> Volver al inicio
      </button>
      <button class="flex items-center bg-gray-800 bg-opacity-60 border border-transparent text-white px-4 py-2 rounded-lg hover:bg-gray-700">
        <i class="fas fa-user-tie mr-2"></i> Gestionar Ponente
      </button>
      <button class="flex items-center bg-gray-800 bg-opacity-60 border border-transparent text-white px-4 py-2 rounded-lg hover:bg-gray-700">
        <i class="fas fa-plus-circle mr-2"></i> Crear evento
      </button>
      <button class="flex items-center bg-gray-800 bg-opacity-60 border border-transparent text-white px-4 py-2 rounded-lg hover:bg-gray-700">
        <i class="fas fa-calendar-check mr-2"></i> Mis eventos
      </button>
      <div class="inline-flex items-center text-white cursor-pointer hover:text-gray-300">
        <span class="mr-2">Perfil</span>
        <i class="fas fa-user-circle text-2xl"></i>
      </div>
    </div>

    <!-- Botón desplegable en pantallas pequeñas -->
    <div class="lg:hidden relative">
      <button title="bt-menu" (click)="toggleDropdown()" class="text-white focus:outline-none">
        <i class="fas fa-bars text-2xl"></i>
      </button>
      <!-- Menú desplegable -->
      <div *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20">
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Volver al inicio</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Gestionar Ponente</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Crear evento</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Mis eventos</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Perfil</a>
      </div>
    </div>
  </div>
</div>
